---
import "keen-slider/keen-slider.min.css";
import { Image } from "astro:assets";

import img1 from "../assets/g1.png";
import img2 from "../assets/g2.png";
import img3 from "../assets/g1.png";
import img4 from "../assets/g2.png";
import img5 from "../assets/g1.png";
import img6 from "../assets/g2.png";
---

<section id="galleria">
  <div id="my-keen-slider" class="keen-slider">
    <div class="keen-slider__slide"><Image src={img1} alt="Slide 1" /></div>
    <div class="keen-slider__slide"><Image src={img2} alt="Slide 1" /></div>
    <div class="keen-slider__slide"><Image src={img3} alt="Slide 1" /></div>
    <div class="keen-slider__slide"><Image src={img4} alt="Slide 1" /></div>
    <div class="keen-slider__slide"><Image src={img5} alt="Slide 1" /></div>
    <div class="keen-slider__slide"><Image src={img6} alt="Slide 1" /></div>
  </div>
</section>

<script>
  if (typeof window !== "undefined") {
    import("keen-slider").then(({ default: KeenSlider }) => {
      new KeenSlider("#my-keen-slider", {
        loop: true,
        mode: "free",
        slides: {
          perView: 3,
          spacing: 15,
        },
      });
    });
  }
</script>

<style>
  #galleria {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .keen-slider {
    cursor: grab;
  }

  .keen-slider:active {
    cursor: grabbing;
  }

  .keen-slider__slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .keen-slider__slide img {
    height: auto;
    display: block;
  }
</style>
